SFTest/src/flows/Test-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Test2</name>
        <label>Test2</label>
        <locationX>162</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Test_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>true</defaultConnectorLabel>
        <rules>
            <name>Test1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Test_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr2</targetReference>
            </connector>
            <label>Test1</label>
        </rules>
    </decisions>
    <label>Test</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Test_Create</name>
        <label>Test Create</label>
        <locationX>87</locationX>
        <locationY>327</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Test_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Test__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Test4</name>
        <label>Test4</label>
        <locationX>275</locationX>
        <locationY>434</locationY>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Test3</elementReference>
            </value>
        </filters>
        <object>Test__c</object>
    </recordDeletes>
    <screens>
        <name>scr2</name>
        <label>scr2</label>
        <locationX>272</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Test4</targetReference>
        </connector>
        <fields>
            <name>Test3</name>
            <dataType>String</dataType>
            <fieldText>Test3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>142</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Test2</targetReference>
        </connector>
        <fields>
            <name>Test_Name</name>
            <dataType>String</dataType>
            <fieldText>Test</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Test</startElementReference>
</Flow>
